@import url('../../styles/common.css');
@import url('../../styles/global.css');

.pgs-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xsmall);
    
    label {
        color: var(--subtitle-color);
    }
}

.pgs-input {
    display: block;
    padding: var(--spacing-small) var(--spacing-small);
    font-size: var(--size-medium);
    color: var(--text-color);
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: var(--border-small);
    border-radius: var(--border-radius);
    transition: border-color var(--transition-fast) ease-in-out, box-shadow var(--transition-fast) ease-in-out;
}

.pgs-input:hover:not(:disabled) {
    box-shadow: var(--shadow-normal);
}

.pgs-input:focus {
    border-color: var(--primary-color);
    box-shadow: var(--shadow-normal);
    outline: none;
}

.pgs-input:disabled {
    background-color: var(--secondary-color);
    color: var(--text-color);
    cursor: not-allowed;
    opacity: 0.6;
}