@import url('../../styles/common.css');
@import url('../../styles/global.css');

.pgs-button {
    display: inline-block;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-family: var(--body-font);
    transition: background-color var(--transition-fast) ease-in-out, color var(--transition-fast) ease-in-out;
}

.btn-variant-primary {
    background-color: var(--primary-color);
    color: var(--background-color);
}
.btn-variant-primary:hover:not(:disabled) {
    background-color: var(--primary-color-hover);
}
.btn-variant-primary:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.btn-variant-secondary {
    background-color: var(--secondary-color);
    color: var(--text-color);
}
.btn-variant-secondary:hover:not(:disabled) {
    background-color: var(--secondary-color-hover);
}
.btn-variant-secondary:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.btn-variant-warning {
    background-color: var(--warning-color);
    color: var(--text-color);
}
.btn-variant-warning:hover:not(:disabled) {
    background-color: var(--warning-color-hover);
}
.btn-variant-warning:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.btn-variant-info {
    background-color: var(--info-color);
    color: var(--text-color);
}
.btn-variant-info:hover:not(:disabled) {
    background-color: var(--info-color-hover);
}
.btn-variant-info:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.btn-variant-success {
    background-color: var(--success-color);
    color: var(--background-color);
}
.btn-variant-success:hover:not(:disabled) {
    background-color: var(--success-color-hover);
}
.btn-variant-success:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.btn-variant-danger {
    background-color: var(--danger-color);
    color: var(--background-color);
}
.btn-variant-danger:hover:not(:disabled) {
    background-color: var(--danger-color-hover);
}
.btn-variant-danger:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.btn-size-small {
    padding: var(--padding-small) var(--padding-medium);
    font-size: var(--size-small);
}

.btn-size-medium {
    padding: var(--padding-medium) var(--padding-large);
    font-size: var(--size-medium);
}

.btn-size-large {
    padding: var(--padding-large) calc(var(--padding-large) * 1.5);
    font-size: var(--size-large);
}